* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  grid-template-rows: 2rem auto 2rem;
  overflow: hidden;
}

nav {
  font-size: 1rem;
  align-self: start;
  background-color: rgb(193, 174, 97);
}

.itemsMenu {
  display: flex;
}

.itemsMenu div {
  margin: 0.5rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(193, 174, 97);
}
