* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  font-size: 1rem;
  align-self: start;
  background-color: rgb(193, 174, 97);
}

.itemsMenu {
  display: flex;
}

.itemsMenu div {
  margin: 0.5rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
